.container {
    position: fixed;
    top: 20px;
    left: 20px;
}

.container input{
    display: none;
}

.redes a, .labelMas {
    display: block;
    text-decoration: none;
    background-color: rgb(148, 87, 204);
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    margin-bottom: 12px;
    font-size: 23px;
}

.labelMas:hover {
    background-color: #fff;
    color:rgb(148, 87, 204);
}

.redes a:hover {
    background-color: #fff;
    color:rgb(148, 87, 204);
}

.redes a {
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

.inputBtnFlot:checked~ .redes a {
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.labelMas {
    cursor: pointer;
    font-size: 23px;
}

.inputBtnFlot:checked ~ .btn_mas .labelMas {
    transform: rotate(137deg);
    font-size: 25px;
}


